$color-primary: #85714D;
$color-grey-light: #ddd;
$color-danger: #ff1744;
$color-success: #4caf50;
$color-grey-light-05: #90a4ae;
$color-grey-light-10: #fafbfb;
$light-blue: rgba(33,150,243,.05);
$color-black: #000;
$color-blue: #2979ff;
$color-white: #fff;
$color-light-20: #607d8b;
$color-light-25: #b0bec5;
$color-light-30: #6e6e6e;
$color-secondary:#00081c;
$color-secondary02: #273751;
$color-primary-hover: #75603a;
$color-yellow: #fffa6c;

$primaryFont: "Roboto", "Helvetica", "Arial", sans-serif;

$font-size-primary: 13px;

